body{
    text-align: center;
}
img{
    width: 600px;
    height: 400px;
}
#increment-btn {
    background-color: #4CAF50; 
    border: none;   
    color: white;  
    padding: 15px 32px;
    text-align: center;    
    text-decoration: none; 
    display: inline-block;    
    font-size: 16px;         
    margin: 4px 2px;         
    cursor: pointer;          
    border-radius: 12px;      
    transition: background-color 0.3s ease; 
}

#save-btn{
    background-color: #007BFF;
border: none;              
color: white;              
padding: 15px 32px;      
text-align: center;        
text-decoration: none;  
display: inline-block;     
font-size: 16px;          
margin: 4px 2px;           
cursor: pointer;           
border-radius: 12px;      
transition: background-color 0.3s ease; 
//width: 135px;
}


